{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title></title>

    <style>
        .nav-link {
            font-size: 22px;
            line-height: 24px;
            font-weight: 500;
        }
    </style>

</head>

<body>
    {% include 'navbar.html' %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert" id="alert" >
        {% for message in messages %}
        <strong {% if message.tags %} class=" {{ message.tags }} " {% endif %} >{{message}}</strong> 
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="container mt-5">
        <div class="row pt-lg-3">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8">
                <h2>Login</h2>
                <div class="card">
                    <form class="card-body" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" v-model="email" class="form-control py-2" aria-describedby="emailHelp" name="email" id="email">
                            <div  class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" v-model="password" class="form-label">Password</label>
                            <input type="password" class="form-control py-2" name="password" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-md w-25 float-end">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% if debug %}
    <script src="{% static 'js/vue.js' %}"></script>
    {% else %}
    <script src="{% static 'js/vue.min.js' %}"></script>
    {% endif %}

</body>

</html>